
/* Your CSS Code here. */
* {
    box-sizing: border-box;
} 

body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}



.btn {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: white;
    border:none;
    border-radius:5px;
    padding:15px;
    
  }
  .btn:hover {
    color: black;
    background-color:yellow;
    border-radius:30px; 
    transition: 0.5s;




}

  
